include ./mixins/palette.pug

doctype html
html(lang="en")
  head
    title Stylex.Colors
    meta(charset="utf-8")
    meta(name="viewport", value="width=device-width, initial-scale=1, shrink-to-fit=no")
    style
      include ../build/hsl/colors.css
      include style.css
  body
    header.Page-header
      div.container.Header
        div.shrink-0.grow-0
          h2.Header-brand @stylex/colors
          p.Header-intro Color palette as dependency
        div.shrink-1.grow-1
        a.shrink-0.grow-0(href="https://github.com/rumkin/stylex-colors")
          img(src="https://unpkg.com/simple-icons@latest/icons/github.svg", height=24, alt="Github logo")
    main.Page-main
      div.container
        div.Colors
          each shades, color in colors.hsl
            div.Colors-color
              h2.Colors-title(id=color)
                a(href=`#${color}`) #
                = " " + color
              div.Palette
                each hsl, index in shades
                  div.Palette-item
                    +palette(color, index, hsl, colors.hex[color][index], colors.rgb[color][index])
    footer.Page-footer
      div.container
        div © #[a(href="https://rumk.in") Paul Rumkin], 2019

